@import '../../stylesheet/base.scss';

.mainContainer {
  @media screen and (min-width: 768px) {
    background-image: url(../../assets//images/Background/desktopBg.png);
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../assets/images/Background/desktopBg@2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    display: flex;
  }
}

.mainContainer::before {
  @media screen and (min-width: 768px) {
    content: '';
    position: absolute;
    right: 0;
    width: 100vw;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(25px);
  }
}

.left {
  position: relative;
  margin-bottom: 32px;
  padding-top: 12px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 32px;
    order: 1;
  }
  @media screen and (min-width: 1280px) {
    height: 100%;
    flex-direction: column;
    justify-content: stretch;
    margin-bottom: 0;
    padding-top: 40px;
    padding-right: 69px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 1px;
    height: 100%;
    order: 2;
    background-color: #e7e5f2;
    box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.05),
      1px 0px 0px rgba(255, 255, 255, 0.6);

    @media screen and (min-width: 1280px) {
      display: block;
    }
  }
}

.navigationBalance {
}

.right {
  margin: 0 auto;
  position: relative;
  @media screen and (min-width: 768px) {
    order: 3;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    height: 100%;
    flex-direction: column;
    justify-content: stretch;
    margin-bottom: 0;
    padding-top: 40px;
    padding-left: 69px;
  }
}

.currencyContainer {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}
