@import '../../stylesheet/vars.css';

/* Form styles */
.form {
  margin: 0 auto;
  padding: 30px 0;
  width: 100%;
  max-width: 320px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  z-index: 10;

  background-color: var(--primary-background-color);

  @media screen and (min-width: 768px) {
    max-width: 533px;
    border-radius: 20px;
    padding: 40px 60px 60px;
    margin: 0;
  }
}

/* Logo styles */

.logo {
  width: 120px;
  height: 30px;
  display: inline-block;

  @media screen and (min-width: 768px) {
    width: 180px;
    height: 40px;
  }
}

.logoWrapper {
  margin-bottom: 20px;
  text-align: center;
}

/* Inputs styles */

.textInput {
  width: 100%;
  height: 32px;
  padding-left: 55px;

  font-family: var(--main__font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  border: transparent;
  outline: none;
  border-bottom: 1px solid var(--disabled-grey-text-color);
  transition: border-bottom var(--cubic) var(--animation-time);
}

.textInput::placeholder {
  color: var(--placeholder-text);
  font-family: var(--main__font-family);
  letter-spacing: normal;
}

.textInput:focus {
  border-bottom: 1px solid var(--accent-btn-color);
}

.textInput:focus + .icon {
  fill: var(--accent-btn-color);
}

.passwordInput {
  @extend .textInput;
  font-family: Verdana;
  letter-spacing: 0.125em;
}

.noBorder:not(:placeholder-shown) {
  border: none;
}

.noBorder:not(:focus) {
  border-bottom: 1px solid var(--disabled-grey-text-color);
}

.label {
  position: relative;
  color: var(--placeholder-text);
}

.icon {
  position: absolute;
  bottom: 6px;
  left: 12px;

  fill: currentColor;
  transition: fill var(--cubic) var(--animation-time);
}

/* Submit button */

.submitButton {
  height: 50px;

  font-family: var(--main__font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  background-color: var(--btn-color);
  border: 1px solid var(--accent-btn-color);
  border-radius: 20px;
  color: var(--accent-btn-color);
  transition: all var(--cubic) var(--animation-time);
  outline: transparent;

  @media screen and (min-width: 768px) {
    width: 300px;
    align-self: center;
  }
}

.submitButton:hover,
.submitButton:focus {
  color: var(--btn-color);
  background-color: var(--accent-btn-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/* Link */

.loginLink {
  @extend .submitButton;
  margin-top: -20px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--accent-color);
  background-color: var(--btn-color);
  border: 1px solid var(--accent-color);
}

.loginLink:focus,
.loginLink:hover {
  background-color: var(--accent-color);
  color: var(--btn-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/* Validation error message */

.errorMessage {
  position: absolute;
  bottom: 0;
  left: 20px;
  transform: translateY(110%);

  font-family: var(--main__font-family);
  font-size: 14px;

  opacity: 0;
  color: var(--err-text-color);
  transition: opacity var(--cubic) var(--animation-time);
  @media screen and (min-width: 768px) {
    font-size: 16px;
    transform: translateY(120%);
  }
}

.textInput:not(:placeholder-shown) ~ .errorMessage {
  opacity: 1;
}

/* Password strength bar */

.passwordStrength {
  position: absolute !important;
  bottom: 0;
  left: 0;
  width: 100%;

  display: none;

  transform: translateY(40%);
}

.textInput:not(:placeholder-shown):focus ~ .passwordStrength {
  display: block;
}
