.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalSection {
  position: absolute;
   top: 60px;
  width: 320px; 
  height: 100%;
  background: #ffffff;
  @media screen and (min-width: 768px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 540px;
    height: 508px;
    border-radius: 30px;
  }
}

.title {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin: 20px 20px 40px;
  @media screen and (min-width: 768px) {
    margin: 40px;
    font-size: 30px;
      line-height: 45px;
      
    }
}

.radioDiv {
  margin: 0 43px 40px;
  display: flex;
  gap: 16px;
  justify-content: center; 
  height: 44px;
  align-items: center;
  @media screen and (min-width: 768px) {
      gap: 20px;
    }
}

.radioLabel1 {
  display: block;
  background-image: url('../../assets/btnAdd.svg');
  width: 60px;
  height: 44px;
  background-position: 50% 28%;
  background-size: fit;
  border-radius: 100%;
}
.radioLabel2 {
  display: block;
  background-image: url('../../assets/btnSubs.svg');
  width: 60px;
  height: 44px;
  background-position: 50% 35%;
  border-radius: 100%;
}

.toggler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 0 auto; */
  width: 80px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #e0e0e0;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.transparent {
  background-image: none;
}

.spanLabel {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #e0e0e0;
}



.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 40px; */
  padding: 0 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26.53px;
  margin-bottom: 40px;
}

.amountDate {
  display: flex;
  flex-direction: column;
  @media screen and  (min-width: 768px){
    flex-direction: row;
  }
}

.selector {
  display: flex;
  justify-content: center;
  /* margin: 0 20px; */
  border: 0;
  @media screen and (min-width: 768px) {
      width:394px;
    }
}

.selectOption {
  width: 280px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
      width: 190px;
    }
}

textarea {
  width: 280px;
  height: 84px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #bdbdbd;
  border-bottom: 1px solid #e0e0e0;
  resize: none;
  outline: none;

  
  @media screen and (min-width: 768px) {
    width: 394px;
    height: 32px;
  }
}

.addButton {
  display: block;
  margin: 0 auto;
  width: 300px;
  background-color: #24cca7;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  padding: 13px 65px;
  margin-bottom: 20px;
}

.cancelButton {
  display: block;
  margin: 0 auto 56px;
  width: 300px;
  border-radius: 20px;
  color: #4a56e2;
  font-size: 18px;
  font-weight: 400;
  padding: 13px 65px;
  border: 1px solid #4a56e2;
}

.modalForm {
  display: flex;
  flex-direction: column;
}

.errorValidation {
  position: relative;
  bottom: 30px;

  font-size: 12px;
  color: red;
  font-weight: 400;
}
