.table {
  // width: 280px;
}

.tableHead {
  max-width: 280px;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-background-color);
  border-radius: 30px;
  @media screen and (min-width: 768px) {
    max-width: 336px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 395px;
  }
}

.colorForCategory {
  display: inline-block;
  margin-right: 16px;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background-color: red;
}

.table thead tr {
  width: 280px;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  font-family: Circe;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(27 / 18);
  padding: 16px 20px 15px 20px;
  @media screen and (min-width: 768px) {
    width: 336px;
  }
}

.table tbody tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--line-table-color);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  padding: 14px 20px 14px 16px;
  font-family: Circe;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
}

.table tbody th {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
}

.table tfoot tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  padding: 0px 20px 0px 16px;
  font-family: Circe;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(24 / 16);
}

.expenses {
  color: var(--amount-expenses-accent-color);
}

.income {
  color: var(--amount-incomes-accent-color);
}
