@import '../../stylesheet/vars.css';
.container {
  @media screen and (min-width: 768px) {
    padding: 60px 0;
    min-height: 100vh;
    min-width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    background-image: url(../../assets//images//Background/tabletBg.png);
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../assets/images/Background/tabletBg@2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    padding: 0;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 145px;

    background-image: url(../../assets//images/Background/desktopBg.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../assets/images/Background/desktopBg@2x.png);
    }
  }
}

.container::before {
  @media screen and (min-width: 1280px) {
    content: '';
    position: absolute;
    right: 0;
    width: 55vw;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(25px);
  }
}

.titleContainer {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 40px;
  }

  @media screen and (min-width: 1280px) {
    flex-direction: column;
    gap: 32px;
  }
}

.appTitle {
  font-family: var(--logo__font-family);
  font-weight: 400;
  font-size: 30px;
  line-height: calc(45 / 30);
  align-self: center;
}
