.canva {
  width: 280px;
  height: 280px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 1280px) {
    margin-bottom: 0;
    width: 288px;
    height: 288px;
  }
  @media screen and (min-width: 768px) {
    width: 336px;
    height: 336px;
  }
}

.label {
  position: absolute;
  font-family: 'Circe';
  font-weight: 700;
  font-size: 18px;
}
