.canva {
  width: 288px;
  height: 288px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  position: absolute;
  font-family: 'Circe';
  font-weight: 700;
  font-size: 18px;
}

.noDiagram {
  text-align: center;
}
