.container {
  position: relative;
  width: 393px;
  min-height: 331px;
  background: var(--accent-background-color);
  border-radius: 30px;
}

.table {
  margin: 0 auto;
  width: 100%;
  color: var(--secondary-text-color);
  text-align: center;
  border-collapse: collapse;
}

thead {
  background: rgb(255, 255, 255, 0.2);
}

th {
  padding: 17px 0 16px;
  font-size: 18px;
  line-height: calc(27 / 18);
}

th:nth-of-type(1) {
  padding: 20px;
}
th:nth-of-type(2) {
  padding: 0 20px;
}
th:nth-of-type(3) {
  padding: 0 50px;
}

td {
  padding: 12px 0;
  font-size: 16px;
  line-height: calc(24 / 16);
}


.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 118px;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) -7.46%,
    rgba(255, 255, 255, 0) 100%
  );
}
