.container {
  position: relative;
  width: 393px;
  min-height: 331px;
  background: var(--accent-background-color);
  border-radius: 30px;
  background-image: url('../../assets/wave.svg');
  background-repeat: no-repeat;
  background-position: bottom;
}

.table {
  margin: 0 auto;
  width: 100%;
  color: var(--secondary-text-color);
  text-align: center;
  border-collapse: collapse;
  font-family: 'Circe', sans-serif;
}

.table thead {
  background: rgb(255, 255, 255, 0.2);
}

.table tr {
padding-left: 14px;
padding-right: 20px;
}

.table th {
  padding: 17px 0 16px;
  font-size: 18px;
  line-height: calc(27 / 18);
}

.table th:nth-of-type(1) {
  padding-left: 44px;
  padding-right: 20px;
}
.table th:nth-of-type(2) {
  padding-left: 20px;
  padding-right: 20px;
}
.table th:nth-of-type(3) {
  padding-left: 50px;
  padding-right: 64px;
}

.table td {
  padding: 12px 0;
  font-size: 16px;
  line-height: calc(24 / 16);
}

.table td:nth-of-type(1) {
  padding-left: 24px;
}
.table td:nth-of-type(3) {
  padding-right: 14px;
}
