.container {
  position: relative;
  width: 280px;
  min-height: 174px;
  background: var(--accent-background-color);
  border-radius: 30px;
  background-image: url('../../assets/wave.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

@media screen and (min-width: 768px) {
  .container {
    width: 336px;
    min-height: 182px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 393px;
    min-height: 331px;
  }
}

.table {
  margin: 0 auto;
  width: 100%;
  color: var(--secondary-text-color);
  text-align: center;
  border-collapse: collapse;
  font-family: 'Circe', sans-serif;
}

.table thead {
  background: rgb(255, 255, 255, 0.2);
}

.table tbody::before {
  content: "";
  display: block;
  width: 100%;
  height: 6px;
}

.table th {
  padding: 11px 0 12px;
  font-size: 18px;
  line-height: calc(27 / 18);
}

.table th:nth-of-type(1) {
  padding-left: 20px;
  padding-right: 0px;
}
.table th:nth-of-type(2) {
  padding-left: 24px;
  padding-right: 24px;
}
.table th:nth-of-type(3) {
  padding-left: 20px;
  padding-right: 17px;
}

.table td {
  padding: 6px 0;
  font-size: 16px;
  line-height: calc(24 / 16);
}

.table td:nth-of-type(1) {
  padding-left: 20px;
  text-align: left;
}
.table td:nth-of-type(2) {
  padding-left: 26px;
  text-align: left;
}
.table td:nth-of-type(3) {
  padding-right: 20px;
  text-align: right;
}

@media screen and (min-width: 768px) {
  .table tbody::before {
    height: 10px;
  }
  .table th:nth-of-type(2) {
    padding-left: 42px;
    padding-right: 42px;
  }
  .table th:nth-of-type(3) {
    padding-left: 32px;
    padding-right: 25px;
  }
  .table td {
    padding: 6px 0;
  }

  .table td:nth-of-type(1) {
    padding-left: 20px;
  }
  .table td:nth-of-type(2) {
    padding-left: 0;
    text-align: center;
  }
  .table td:nth-of-type(3) {
    padding-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .table tbody::before {
    height: 8px;
  }
  .table th {
    padding: 17px 0 16px;
  }

  .table th:nth-of-type(1) {
    padding-left: 44px;
    padding-right: 20px;
  }
  .table th:nth-of-type(2) {
    padding-left: 20px;
    padding-right: 20px;
  }
  .table th:nth-of-type(3) {
    padding-left: 50px;
    padding-right: 64px;
  }

  .table td {
    padding: 12px 0;
  }

  .table td:nth-of-type(1) {
    padding-left: 24px;
    text-align: center;
  }
  .table td:nth-of-type(3) {
    padding-left: 0;
    padding-right: 61px;
  }
}
