.button {
    position: sticky;
    left: calc(100% - 64px);
    bottom: 20px;
    background-image: url('../../assets/btnAdd.svg');
    width: 44px;
    height: 44px;
    background-position: 50% 28%;
    border-radius: 100%;
    outline: none;
    @media screen and (min-width: 768px) {
            position: fixed;
            left: unset;
            right: 40px;
            bottom: 40px;
        }
}