.button {
    position: sticky;
    margin-left: 150%;
    bottom: 20px;
    background-image: url('../../assets/btnAdd.svg');
    width: 44px;
    height: 44px;
    background-position: 50% 28%;
    border-radius: 100%;
    outline: none;
    @media screen and (min-width: 768px) {
            position: fixed;
            margin-left: 0;
            right: 40px;
            bottom: 40px;
        }
}