@import '../../../stylesheet/vars.css';

.DivButtons {
  margin: 0 auto;
  display: flex;
  gap: 5px;
  justify-content: center;
  @media screen and (min-width: 768px) {
    gap: 10px;
  }
}

.Button {
  margin-bottom: 10px;

  font-family: var(--main__font-family);
  text-align: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: var(--accent-btn-color);
  border: 1px solid var(--accent-btn-color);
  color: var(--secondary-text-color);
  transition: all var(--cubic) var(--animation-time);
  outline: transparent;
}

.Button:hover,
.Button:focus {
  color: var(--btn-color);
  background-color: var(--accent-btn-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
